@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");

/* BASIC STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #b8aea4;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f6ee;
  padding: 0 3rem 3rem 3rem;
  /*  box-shadow: 0px 0px 8px #6d6d6d; */
}

/* END BASIC STYLES */

/* FONTS */

h1,
h2,
h3,
h4,
h5 {
  font-family: "IM Fell English", sans-serif;
}

.h1 {
  font-size: 30pt;
  text-align: center;
  margin-bottom: 1rem;
}

/* END FONTS */

/* TOP NAV & HEADER */

.hero-img {
  background-image: url("images/1.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.top-nav > li {
  padding: 1rem;
  margin: 0 0.5rem;
}

.top-nav > li > a {
  text-decoration: none;
  font-size: 13pt;
  color: black;
  font-family: "IM Fell English", sans-serif;
  transition: text-decoration 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.top-nav > li > a:hover {
  text-decoration: underline;
  font-size: 16pt;
}

.logo-img {
  width: 100px;
  height: auto;
}

/* END TOP NAV & HEADER */

/* SECTION 1 */
.section-1 {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.section-text {
  padding: 3rem 0 0 0;
  width: 55%;
}

.section-text > p {
  padding-bottom: 1rem;
}

img > .section-img {
  width: 45%;
  height: auto;
  border-radius: 0 0 240px 240px;
}

.btn {
  background-color: #b8aea4;
  border: 0;
  display: flex;
  justify-self: center;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;

  border-radius: 10px;
}

.btn-section > a {
  font-size: 15pt;
  font-family: "IM Fell English", sans-serif;
  text-decoration: none;
  color: #000;
  transition: font-size 0.3s ease-in-out;
}

.btn-section > a:hover {
  font-size: 18pt;
}

.birgitta {
  font-size: 15pt;
  font-family: "IM Fell English", sans-serif;
}

.section {
  padding: 3rem;
  max-width: 800px;
  margin: 0 auto;
}
/* END SECTION 1 */

/* SECTION 2 */
.section-2 {
  display: flex;
  justify-content: space-around;
  padding: 4rem 0 2rem 0;
}
.cards {
  width: 250px;
}

.card-img {
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.img-crop {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.btn-card {
  width: 100%;
  justify-content: center;
}

.btn-card > a {
  font-size: 12pt;
  font-family: "IM Fell English", sans-serif;
  text-decoration: none;
  color: #000;
  transition: font-size 0.3s ease-in-out;
}

.btn-card > a:hover {
  font-size: 15pt;
}

/* END SECTION 2 */

/* SECTION 3 */

.section-3 {
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1.5rem 0;
}

.product {
  width: 200px;
}

.product-img {
  aspect-ratio: 4/5;
  object-fit: cover;
  object-position: 75% 100%;
  max-width: 100%;
}
/* END SECTION 3 */

/* SECTION 4 */

.section-4 {
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.h3 {
  font-size: 25pt;
  text-align: center;
  padding-bottom: 1rem;
}

.section4-img {
  width: 45%;
  height: auto;
  border-radius: 240px 240px 0 0;
}

.opening-hour {
  text-align: center;
}

/* END SECTION 4 */

/* FOOTER */

footer {
  width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  column-gap: 2rem;
  justify-content: space-around;
  text-align: center;
}

.footer-title {
  font-size: 15pt;
  margin-bottom: 1rem;
}

.f-li {
  list-style: none;
}

.f-li > a {
  color: #000;
  text-decoration: none;
}

.f-li > a:hover {
  text-decoration: underline;
}
/* END FOOTER */

/* STYLES ABOUTPAGE */

.mid-title {
  margin: 1rem 0;
}

.standning {
  aspect-ratio: 4/5;
  object-fit: cover;
  object-position: 75% 100%;
  max-width: 100%;
}

/* END STYLES ABOUTPAGE */

/* SHOP SECTION */
.buy-button {
  font-size: 12pt;
  font-family: "IM Fell English", sans-serif;
  text-decoration: none;
  color: #000;
  transition: font-size 0.3s ease-in-out;
}

.buy-button:hover {
  font-size: 15pt;
}

/* END SHOP SECTION */

/* CONTACT FORM */

.h1-nocenter {
  font-size: 30pt;
  margin-bottom: 1rem;
}

/* Stilen hämtad från W3Schools */

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #b8aea4;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a lighter color */
input[type="submit"]:hover {
  background-color: #ccc;
}
/* 
/* Add a background color and some padding around the form */
.container {
  padding: 3rem 0;
  width: 45%;
  display: flex;
}

/* END CONTACT FORM */

.section-3-testimonials {
  padding: 4rem 0 2rem 0;
  text-align: center;
}
.testimonials,
p {
  padding: 0.5rem 0;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* MEDIEQUERYS */

@media (max-width: 1200px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 880px) {
  .wrapper {
    width: 100%;
  }

  .hero-img {
    background-image: url("images/1-opt.webp");
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .section-2 {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .cards {
    width: 60%;
  }
  footer {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 800px) {
  .section-img {
    display: none;
  }
  .section-text {
    width: 100%;
  }

  .contactform {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 725px) {
  .section-4 {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
@media (max-width: 635px) {
  .top-nav {
    flex-direction: column;
  }
}
